@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: $typography-primary-font-family, sans-serif;
  font-size: 1rem;
}